@using System.Security.Claims;
@using EduZone.Models;
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EduZone</title>
    <link rel="icon" href="~/Content/Images/logo.png">
    <!-- Fonts Awesome-->
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    <!-- Bootstrap -->
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <!-- CSS dependences -->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <!-- End -->
    <!-- CSS Main File -->
    <link href="~/Content/StyleSheet/style.css" rel="stylesheet" />
    <link href="~/Content/StyleSheet/sidebar.css" rel="stylesheet" />
    @RenderSection("Top_Link", false)
</head>

<body>
    @{
        string path = "s";
        if (User.Identity.IsAuthenticated)
        {

            ApplicationDbContext context = new ApplicationDbContext();

            string id = "s";
            var claimsIdentity = User.Identity as ClaimsIdentity;
            if (claimsIdentity != null)
            {
                var userIdClaim = claimsIdentity.Claims
                    .FirstOrDefault(x => x.Type == ClaimTypes.NameIdentifier);
                if (userIdClaim != null)
                {
                    id = userIdClaim.Value;
                }
            }
            var user1 = context.Users.FirstOrDefault(e => e.Id == id);

            if (user1 == null || user1.Image == null)
            {
                path = "malefemale.jpg";
            }
            else
            {
                path = user1.Image;
            }
        }


<!-- Sidebar Section --><div class="sidebar closee">
            <!-- logo -->
            <div class="logo-details">
                <i class='bx bxs-graduation'></i>
                <span class="logo_name">EduZone</span>
            </div>
            <!-- logo -->
            <!-- Sidebar nav links -->
            <ul class="nav-links">
                <li>
                    <a href="">
                        <i class='bx bx-home'></i>
                        <span class="link_name">Timeline</span>
                    </a>
                    <ul class="sub-menu blank">
                        <li><a class="link_name" href="#">Timeline</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/Group/Index">
                        <i class="bx bx-group"></i>
                        <span class="link_name">Groups</span>
                    </a>
                    <ul class="sub-menu blank">
                        <li><a class="link_name" href="/Group/Index">Groups</a></li>
                    </ul>
                </li>
                <li>
                    <div class="iocn-link">
                        <a href="#">
                            <i class="bx bx-collection"></i>
                            <span class="link_name">Academic</span>
                        </a>
                        <i class="bx bxs-chevron-down arrow"></i>
                    </div>
                    <ul class="sub-menu">
                        <li><a class="link_name" href="#">Academic</a></li>
                        <li><a href="/Student/GetBatches">Batches</a></li>
                        @if (User.IsInRole("Student"))
                        {
                            <li><a href="/Student/CourseEnrollment">Courses Enrollment</a></li>
                        }
                    </ul>
                </li>
                @if (!User.IsInRole("Admin"))
                {
                    <li>
                        <div class="iocn-link">
                            <a href="">
                                <i class="bx bx-check-square"></i>
                                <span class="link_name">Exam</span>
                            </a>
                            <i class="bx bxs-chevron-down arrow"></i>
                        </div>
                        <ul class="sub-menu">
                            <li><a class="link_name" href="">Exam</a></li>
                            <li><a href="">Exams</a></li>
                            <li><a href="">Create</a></li>
                            <li><a href="#"> Update </a></li>
                        </ul>
                    </li>
                }
                else
                {
                    <li>
                        <a href="/Role/NewRole">
                            <i class="bx bx-calendar-check"></i>
                            <span class="link_name">Roles</span>
                        </a>
                        <ul class="sub-menu blank">
                            <li><a class="link_name" href="#">Roles</a></li>
                        </ul>
                    </li>
                }
                <li>
                    <a href="#">
                        <i class="bx bx-calendar-check"></i>
                        <span class="link_name">Attendance</span>
                    </a>
                    <ul class="sub-menu blank">
                        <li><a class="link_name" href="#">Attendance</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="bx bx-bell"></i>
                        <span class="link_name">Notifications</span>
                    </a>
                    <ul class="sub-menu blank">
                        <li><a class="link_name" href="#">Notifications</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="bx bx-cog"></i>
                        <span class="link_name">Settings</span>
                    </a>
                    <ul class="sub-menu blank">
                        <li><a class="link_name" href="#">Settings</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bx-log-out'></i>
                        <span class="link_name">Logout</span>
                    </a>
                    <ul class="sub-menu blank">
                        <li><a class="link_name" href="/Account/LogOff">Logout</a></li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar nav links -->
        </div>
        <!-- End -->
        <!-- Home section (Navbar + Content Section) -->
        <section class="home-section">
            <!-- Navbar Section -->
            <div class="home-header position-sticky sticky-top p-2 d-sm-flex justify-content-sm-between align-items-sm-center bg-light">
                <div class="my-1">
                    <i class="bx bx-menu"></i>
                </div>
                <div class="d-flex justify-content-evenly align-items-center flex-grow-1">
                    <div class="navbar-items"><a href="#">Home</a></div>
                    <div class="navbar-items"><a href="#">Events</a></div>
                    <div class="navbar-items"><a href="#">About us</a></div>
                    <div class="navbar-items"><a href="#">Contact us</a></div>
                </div>
                <div class="profile ">
                    <a href="/Profile/BasicInfo" class="d-flex align-items-center">
                        <span class=" me-2" style="color:#69B986">
                            @if (Request.IsAuthenticated)
                            {
                                <h6>@User.Identity.Name.Split('.', '@')[0]</h6>
                            }
                        </span>
                        <div class="rounded-circle border d-flex justify-content-center align-items-center" style="width:45px;height:45px" alt="Avatar">
                            <img src="~/Images/@path" alt="">
                        </div>

                    </a>
                </div>
            </div>
            <!-- End -->
            <!-- Render Section (: -->
            <main class="container ">
                @RenderBody()
            </main>
            <!-- End Section -->
        </section>
        <!-- End -->
        <!-- JS dependences -->

        <script src="~/Scripts/jquery-3.6.4.js"></script>
        <script src="~/lib/font-awesome/js/all.js"></script>
        <script src="~/Scripts/bootstrap.js"></script>
        <script src="~/Scripts/bootstrap.bundle.js"></script>
        <script src="~/Scripts/main.js"></script>
        <!-- End -->
        @RenderSection("bottom_Link", false);
    }
</body>

</html>