* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  background-image: url(../Images/banner4-cssxk4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.containerr {
  padding: 0 15px;
  margin: 0 auto;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(52 129 64 / 60%);
}
.containerr form {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 97vh;
  width: 100%;
  height: 100%;
}
.right {
  position: relative;
  z-index: 2;
  background-color: #fff;
  border: none;
  outline: none;
  width: 600px;
  height: 420px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: rgb(18 17 17) -1px 2px 15px;
}

.right i {
  font-size: 30px;
  margin: 18px 0;
  background-color: #31dd33;
  color: #000000c4;
  padding: 10px;
  border-radius: 50%;
}

.right h2 {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 10px;
}
.right h4 {
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 30px;
}
a {
  text-decoration: none;
  color: #201d1d;
}
.right .sign {
  color: #69b984;
}

.inputbox {
  position: relative;
  width: 320px;
  margin-bottom: 20px;
}

.inputbox input {
  position: relative;
  width: 100%;
  padding: 40px 10px 30px;
  background: transparent;
  outline: none;
  box-shadow: none;
  border: none;
  color: black;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 10;
}

.inputbox span {
  position: absolute;
  left: 0;
  padding: 15px 15px 15px;
  font-size: 1em;
  color: #8f8f8f;
  letter-spacing: 00.05em;
  transition: 0.5s;
  pointer-events: none;
}

.inputbox input:valid ~ span,
.inputbox input:focus ~ span {
  color: #049e0c;
  transform: translateX(-10px) translateY(-25px);
  font-size: 0, 75em;
}

.inputbox i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  padding: 0px;
  background: #63ec81;
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
}

.inputbox input:valid ~ i,
.inputbox input:focus ~ i {
  height: 44px;
  border-radius: 20px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
