
@{
    ViewBag.Title = "Index";
   
}

<h2>Welcame Student</h2>

@Html.ActionLink("student profile","std_profile","Profile",new { id= ViewBag.userProfil },new { @class = "btn btn-outline-dark mt-auto" })
