@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Index";
    string current_user = User.Identity.GetUserId();

}

<h2>Welcame Student</h2>

@Html.ActionLink("student profile", "std_profile", "Profile", new { id = current_user }, new { @class = "btn btn-outline-dark mt-auto" })
@Html.ActionLink("AllChat", "AllChat", "Chat",null, new { @class = "btn btn-outline-dark mt-auto" })
