@{
    ViewBag.Title = "codeView";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <!--Google font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap"
          rel="stylesheet" />
    <!-- CSS Main File -->
    <link href="~/Content/StyleSheet/verifycode.css" rel="stylesheet" />
</head>
<body>
    <div class="containerr">
        <div class="overlay"></div>

@using (Html.BeginForm("ConfirmEmail", "Account", FormMethod.Post) )
{
    @Html.ValidationSummary(false, "", new {@class = "text-danger"})
    @Html.TextBox("code", "", new {@class = "form-control w-25 m-3 " });

