@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = null;
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />    
<div class="card text-center w-50 align-content-center" style=" font-family: 'Signika', sans-serif;margin-top:25vh;margin-left:25%">
    <div class="card-header h5 text-white bg-primary">Password Reset</div>
    <p class=" mt-3 fw-bold">
        Please check your email to reset your password.
    </p>
</div>

