
@{
    ViewBag.Title = "Group_About";
}
@Html.Partial("_GroupPartialView")

<div class="tab-content p-3 my-3">

    <div class="tab-pane active" id="About">
        <ul class=" list-group">
            <li class=" list-group-item">
                <b>Group Code</b> : <span class="badge rounded-pill text-bg-success">@ViewBag.GC</span>
            </li>
            <li class=" list-group-item">
                <b># Members</b> : 200
            </li>
            <li class=" list-group-item">
                <b>Type</b> : Private
            </li>
            <li class=" list-group-item">
                <b>Admin</b> : <span class="badge rounded-pill text-bg-info"><a href="#">DR_Ali</a></span>
            </li>
        </ul>
    </div>
</div>