﻿@using EduZone.Models
@model List<Group>
@{
    ViewBag.Title = "Index";
}

<div class="d-flex justify-content-between align-items-center bg-light p-3 ">
    <h5>Groups</h5>
    <button role="button" class="btn btn-light" onclick="ShowCard(1)">
        <i class="fa-solid fa-folder-plus fa-beat-fade"></i> Create Group
    </button>
</div>
<div class="bg-light card w-50 h-50 fixed-bottom border-5 border-light" id="add_group"
     style="margin-bottom: 10%;margin-left: 25%;display:none; ">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken();
        <h4>Create your Group</h4>
        <div class="form-floating mb-3 mt-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="ML2023" required name="GroupName">
            <label for="floatingInput">Group Name</label>
        </div>
        <div class="form-floating mb-3 mt-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="ML2023" required name="Description">
            <label for="floatingInput">Description</label>
        </div>

        <div class="d-flex justify-content-end mt-5">
            <button class="btn btn-light " onclick="ShowCard(0)">close</button>
            <input type="submit" value="Create" class="btn btn-light ms-3">
        </div>
    }
</div>
<div class="">
    @foreach (var item in Model)
    {
        <h1 class="m-2">@item.GroupName</h1>
    }
</div>

<div>
    @using (Html.BeginForm("JoinGroup","Group",FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <label> Code </label>
        <input type="text" name="CodeOfGroup" />

        <input type="submit" value="Join Group" />
    }
</div>

@section bottom_Link{
    <script>
        function ShowCard(val) {
            var card = document.getElementById("add_group");
            if (val === 1) {
                card.style.display = "block";
            } else {
                card.style.display = "none";
            }
        }
    </script>
}